<a href="https://colab.research.google.com/github/LAGRA01251467/Ciencia-de-Datos-A01251467/blob/main/Actividad3BDManipulacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE: LUIS ALBERTO GUTIÉRREZ RIVERA



*   MATRÍCULA: A01251467

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [20]:
pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)
Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)

In [21]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [22]:
# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.217.214:3306/classicmodels', pool_recycle=3600)

# Crea una conexión para luego invocar declaraciones SQL
conn = db.connect()

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [23]:
query = "SELECT * FROM productlines;"
productlines_df = pd.read_sql(query, conn)
styled_df = productlines_df.style.set_table_attributes('class="table"').set_caption("Lineas de productos")
styled_df

3.	La información de los empleados ordenados por nombre (`firstName`).

In [24]:
query = "SELECT * FROM employees ORDER BY firstName;"
employees_df = pd.read_sql(query, conn)
styled_df = employees_df.style.set_table_attributes('class="table"').set_caption("Empleados Ordenados por Nombre")
styled_df

4.	Los países donde hay oficinas (sin duplicar).

In [25]:
query = "SELECT DISTINCT country FROM offices;"
countriesoffices_df = pd.read_sql(query, conn)
styled_df = countriesoffices_df.style.set_table_attributes('class="table"').set_caption("Países donde hay oficinas")
styled_df

5.	El nombre y teléfono de los clientes de la ciudad de Nueva York (*NYC*).

In [26]:
query = "SELECT customerName, phone FROM customers WHERE city = 'NYC';"
namenumber_df = pd.read_sql(query, conn)
styled_df = namenumber_df.style.set_table_attributes('class="table"').set_caption("Nombre y teléfono de clientes de NYC")
styled_df

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [27]:
query = "SELECT productCode, productName, productVendor FROM products WHERE productVendor = 'Gearbox Collectibles' AND quantityInStock < 1000"
gearbox_df = pd.read_sql(query, conn)
styled_df = gearbox_df.style.set_table_attributes('class="table"').set_caption("Productos del vendedor Gearbox Collectibles con menos de 1000 unidades en stock")
styled_df

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [28]:
query = "SELECT productName, buyPrice FROM products ORDER BY buyPrice DESC LIMIT 3"
expensive_products_df = pd.read_sql(query, conn)
styled_df = expensive_products_df.style.set_table_attributes('class="table"').set_caption("Productos más caros")
styled_df

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [29]:
query = "SELECT productLine, COUNT(*) AS productCount FROM products GROUP BY productLine"
products_count_df = pd.read_sql(query, conn)
styled_df = products_count_df.style.set_table_attributes('class="table"').set_caption("Cantidad de productos por línea de producto")
styled_df

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [30]:
query = "SELECT o.country, COUNT(*) AS employeeCount FROM employees e JOIN offices o ON e.officeCode = o.officeCode GROUP BY o.country"
employees_per_country_df = pd.read_sql(query, conn)
styled_df = employees_per_country_df.style.set_table_attributes('class="table"').set_caption("Cantidad de empleados por país")
styled_df

10.	El promedio de los pagos de cada uno de los clientes de España (sin incluir aquellos que no poseen ningún pago).

In [31]:
query = "SELECT c.customerName, AVG(p.amount) AS avgPayment FROM customers c JOIN payments p ON c.customerNumber = p.customerNumber WHERE c.country = 'Spain' GROUP BY c.customerName"
avg_payments_spain_df = pd.read_sql(query, conn)
styled_df = avg_payments_spain_df.style.set_table_attributes('class="table"').set_caption("Promedio de pagos por cliente en España")
styled_df

# **Parte 2**. Manipulación de datos con Pandas

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas (NO con SQL). Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

In [32]:
import pandas as pd
from IPython.display import display

# Cargar las tablas en DataFrames
productlines_df = pd.read_sql("SELECT * FROM productlines", conn)
employees_df = pd.read_sql("SELECT * FROM employees", conn)
offices_df = pd.read_sql("SELECT * FROM offices", conn)
customers_df = pd.read_sql("SELECT * FROM customers", conn)
products_df = pd.read_sql("SELECT * FROM products", conn)
payments_df = pd.read_sql("SELECT * FROM payments", conn)

# 1. Líneas de productos
styled_productlines_df = productlines_df.style.set_table_attributes('class="table"').set_caption("Líneas de productos")


# 2. Empleados ordenados por nombre
employees_sorted_df = employees_df.sort_values(by='firstName')
styled_employees_sorted_df = employees_sorted_df.style.set_table_attributes('class="table"').set_caption("Empleados Ordenados por Nombre")

# 3. Países donde hay oficinas
countries_offices_df = offices_df['country'].drop_duplicates()
styled_countries_offices_df = countries_offices_df.to_frame().style.set_table_attributes('class="table"').set_caption("Países donde hay oficinas")

# 4. Nombre y teléfono de clientes de NYC
namenumber_df = customers_df[customers_df['city'] == 'NYC'][['customerName', 'phone']]
styled_namenumber_df = namenumber_df.style.set_table_attributes('class="table"').set_caption("Nombre y teléfono de clientes de NYC")


# 5. Productos de Gearbox Collectibles con menos de 1000 unidades en stock
gearbox_df = products_df[(products_df['productVendor'] == 'Gearbox Collectibles') & (products_df['quantityInStock'] < 1000)][['productCode', 'productName', 'productVendor']]
styled_gearbox_df = gearbox_df.style.set_table_attributes('class="table"').set_caption("Productos del vendedor Gearbox Collectibles con menos de 1000 unidades en stock")

# 6. Productos más caros
expensive_products_df = products_df[['productName', 'buyPrice']].nlargest(3, 'buyPrice')
styled_expensive_products_df = expensive_products_df.style.set_table_attributes('class="table"').set_caption("Productos más caros")

# 7. Cantidad de productos por línea de producto
products_count_df = products_df.groupby('productLine').size().reset_index(name='productCount')
styled_products_count_df = products_count_df.style.set_table_attributes('class="table"').set_caption("Cantidad de productos por línea de producto")

# 8. Cantidad de empleados por país
employees_per_country_df = employees_df.merge(offices_df, on='officeCode').groupby('country').size().reset_index(name='employeeCount')
styled_employees_per_country_df = employees_per_country_df.style.set_table_attributes('class="table"').set_caption("Cantidad de empleados por país")

# 9. Promedio de pagos por cliente en España
avg_payments_spain_df = customers_df[customers_df['country'] == 'Spain'].merge(payments_df, on='customerNumber').groupby('customerName')['amount'].mean().reset_index(name='avgPayment')
styled_avg_payments_spain_df = avg_payments_spain_df.style.set_table_attributes('class="table"').set_caption("Promedio de pagos por cliente en España")

# Muestra de los DataFrames estilizados
display(styled_productlines_df)
display(styled_employees_sorted_df)
display(styled_countries_offices_df)
display(styled_namenumber_df)
display(styled_gearbox_df)
display(styled_expensive_products_df)
display(styled_products_count_df)
display(styled_employees_per_country_df)
display(styled_avg_payments_spain_df)

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [33]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import os
DIR = "/content/drive/MyDrive/Colab Notebooks/"
os.chdir(DIR)

In [36]:
cred = credentials.Certificate('veterinary.json')
firebase_admin.initialize_app(cred)
db = firestore.client()

12.	Investiga cómo leer la colección `PET_OWNER` y mostrar su contenido en un dataframe. Asegúrate de incluir el id en el resultado

In [37]:
pet_owner_ref = db.collection('PET_OWNER')
pet_owners = pet_owner_ref.stream()

pet_owners_list = []
for doc in pet_owners:
    pet_owner_data = doc.to_dict()
    pet_owner_data['id'] = doc.id
    pet_owners_list.append(pet_owner_data)

pet_owners_df = pd.DataFrame(pet_owners_list)
styled_pet_owners_df = pet_owners_df.style.set_table_attributes('class="table"').set_caption("PET_OWNER")
styled_pet_owners_df

In [38]:
firebase_admin.delete_app(firebase_admin.get_app())